{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #333;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    padding: 20px;
    background: linear-gradient(to bottom, orange, white);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.button {
    background-color: #ff7a00;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #e66d00;
}