
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

nav img {
    height: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.user-section {
    display: flex;
    align-items: center;
    gap:10px;
    padding: 20px;
    width: 100%;
}

.create-seddel{
    margin-left:auto;
}

.user-section img {
    height: 60px;
}

.username {
    font-size: 20px;
    font-weight: bold;
}
.seddel-container{
    display:flex;
    flex-wrap:wrap;
    padding:10px;
}

.seddel{
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 8px;
}

.seddel img {
    width: 100%;
    border-radius: 5px;
}

.seddel-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight:bold;
}

.seddel-id{
    font-size:13px;
    color:#888;
}
