
<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Ønske</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="form-container">
    <h2>Opret nyt ønske</h2>
    <form th:action="@{/savecreateOnske}" method="post">
        <input type="hidden" name="seddelId" th:value="${seddelId}">

        <label for="navn">Navn:</label>
        <input type="text" id="navn" name="navn" placeholder="Hvad ønsker du dig?" required>

        <label for="pris">Pris:</label>
        <input type="number" id="pris" name="pris" placeholder="Pris i kr." required>

        <label for="link">Link:</label>
        <input type="text" id="link" name="link" placeholder="Indtast webadresse" required>

        <label for="antal">Antal:</label>
        <input type="number" id="antal" name="antal" value="1" required>

        <button type="submit" class="button" style="width: 100%;">Gem ønske</button>
    </form>
</div>
</body>
</html>