<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ønskeseddel</title>
    <link rel="stylesheet" th:href="@{forside.css}">
</head>
<body>


<header class="header">
    <div class="logo">
        <img src="/Logo.png" alt="Logo" style="height:40px; vertical-align:middle; margin-right:10px;">Ønskeliste
    </div>
    <nav>
        <a href="/login">Log ind</a>
    </nav>
</header>


<section class="hero">
    <h1>Lav din ønskeseddel online</h1>
    <p>Samle dine ønsker ét sted og del dem med venner og familie</p>
    <a class="button">Kom i gang!</a>
</section>

</body>
</html>