<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ønskeseddel</title>
    <link rel="stylesheet" th:href="@{forside.css}">
</head>
<body>


<header class="header">
    <div class="logo">Ønskeseddel</div>
    <nav>
        <a th:href="@{/login}">Log ind</a>
        <a href="#">Opret</a>
    </nav>
</header>


<section class="hero">
    <h1>Lav din ønskeseddel online</h1>
    <p>
        Opret nemt en ønskeseddel og hold styr på alle dine ønsker ét sted.
        Del listen med familie og venner, så de altid ved hvad du ønsker dig.
    </p>

    <p>
        Perfekt til fødselsdage, jul og andre særlige lejligheder.
    </p>
    <a class="button">Kom i gang!</a>
</section>

</body>
</html>