<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>

<body>

<div class="login-container">
    <h2>Login</h2>

    <p>test logind: Kasper / 123</p>

    <form action="/login" method="post">
        <label>
            <input type="text" name="username" value="Kasper" placeholder="Brugernavn">

            <input type="password" name="kodeord" value="123" placeholder="Kodeord">
        </label>
        <button type="submit">Log ind</button>
    </form>

</div>

</body>
</html>