
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MainPage</title>
    <link rel="stylesheet" th:href="@{onskeseddel.css}">
</head>
<body>
<div class="container">
    <div style="margin-bottom:20px">
        <a th:href="@{createOnske(seddelId=${param.id})}" class=" btn">Tilføj nyt ønske</a>
        </div>
    </div>

    <div class="square" th:each="onske : ${onskeList}">
            <div style="margin-top:10px; text-align: center;">
                <a th:href="@{'/deleteOnske/'+${onske.id}(seddelId=${param.id})}" class="btn" style="font-size:10px; padding:6px 14px; background-color:#ff7a00;">Slet Ønske</a>
            </div>
        <img th:src="@{gave.jpg}" alt="Car Image" />
        <div>
            <label>ID:</label>
            <span th:text="${onske.id}">ID</span>
        </div>

        <div>
            <label>Navn:</label>
            <span th:text="${onske.navn}">Navn</span>
        </div>

        <div>
            <label>Pris:</label>
            <span th:text="${onske.pris}">Pris</span>
        </div>

        <div>
            <label>Link</label>
            <a th:href="${onske.link}" target="_blank">Se produkt</a>
        </div>

        <div>
            <label>Antal:</label>
            <span th:text="${onske.antal}">Antal</span>
        </div>


    </div>


</body>
</html>


